<!DOCTYPE html>
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        
        <h1></h1>
        
        <>
        <form data-th-object="$(pessoa)" data-th-action="@(/pessoa/salvar)" method="post">
            <div>
                <label>Nome</label>
                <input type="text" data-th-field="*nome"/>
            </div>
            <div>
                <label>E-mail</label>
                <input type="text" data-th-field="*email" />
            </div>
            <div>
                <label>Idade</label>
                <input type="text" data-th-field="*idade"/>
            </div>     
            <button type="submit">Enviar</button>
        </form>
    </body>
</html>
