<!DOCTYPE html>

<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">

    <title>Produtos - Inclusão</title>

</head>

<body>
    <div class="container">

        <!--titulo-->
        <div class="row" id="titulo">
            <div class="col text-center">
                <h1>Produtos - Inclusão</h1>
            </div>
        </div>

        <!--  <div class="row"> -->
        <form>
            <!--nome-->
            <div class="form-group row">
                <label id="nome" name="nome" for="nome" class="col-sm-2 col-form-label">Nome</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="inputNome">
                </div>
            </div>

            <!--descrição-->
            <div class="form-group row">
                <label id="descricao" name="descricao" for="descricao" class="col-sm-2 col-form-label">Descrição</label>
                <div class="col-sm-10">
                    <textarea class="form-control" id="textDescricao" rows="3"></textarea>
                </div>
            </div>

            <!--preços-->
            <div class="form-group row">
                <label id="precoCompra" name="precoCompra" for="precoCompra" class="col-sm-2 col-form-label">Preço
                    Compra</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" id="inputPrecoCompra">
                </div>
                <label id="precoVenda" name="precoVenda" for="precoVenda" class="col-sm-2 col-form-label">Preço
                    Venda</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" id="inputPrecoVenda">
                </div>
            </div>

            <!--quantidade-->
            <div class="form-group row">
                <label id="qntd" name="qntd" for="qntd" class="col-sm-2 col-form-label">Quantidade</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" id="inputQntd">
                </div>
            </div>

            <!--status-->
            <div class="form-group row">
                <label id="status" name="status" for="status" class="col-sm-2 col-form-label">Status</label>
                <div class="col-sm-4">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="radioStatus" id="disp" value="disp">
                        <label class="form-check-label" for="disp">Disponível</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="radioStatus" id="indisp" value="indisp">
                        <label class="form-check-label" for="indisp">Indisponível</label>
                    </div>
                </div>
            </div>

            <!--categorias-->
            <div class="form-group row">
                <label id="categorias" name="categorias" for="categorias" class="col-sm-2 col-form-label">Categorias</label>
                <div class="col-sm-10">

                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="cat1" value="cat1">
                        <label class="form-check-label" for="cat1">Cat1</label>
                    </div>

                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="cat2" value="cat2">
                        <label class="form-check-label" for="cat2">Cat2</label>
                    </div>

                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="cat3" value="cat3">
                        <label class="form-check-label" for="cat3">Cat3</label>
                    </div>

                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="cat4" value="cat4">
                        <label class="form-check-label" for="cat4">Cat4</label>
                    </div>

                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="cat5" value="cat5">
                        <label class="form-check-label" for="cat5">Cat5</label>
                    </div>
                </div>
            </div>




        </form>
        <!-- </div> -->

        <!--botões de ação-->
        <div class="row justify-content-center">
            <div class="justify-content-center">
                <button type="button" class="btn btn-success">Salvar</button>
                <a class="btn btn-secondary" href="Gerenciar Produtos.html" role="button">Cancelar</a>
            </div>
        </div>

    </div>

    <!---->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>

</body>

</html>