<!DOCTYPE html>

<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">

    <title>Gerenciamento de Produtos</title>

</head>

<body>
    <div class="container">

        <!--titulo-->
        <div class="row" id="titulo">
            <div class="col text-center">
                <h1>Gerenciamento de Produtos</h1>
            </div>
        </div>

        <div class="row">
            <form class="form" th:action="@{/produto/getProduto}" th:object="${produto}" method="post">
                <div class="table-responsive text-center">
                    <table class="table table-striped table-bordered">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Nome</th>
                                <th scope="col">Status</th>
                                <th scope="col">Ações</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="produto : ${produtos}">
                                <th scope="row">1</th>
                                <td>
                                    <h6 th:text="${produto.nome}"></h6>
                                </td>
                                <td>
                                    <h6 th:text="${produto.disponivel}"></h6>
                                </td>
                                <td>
                                    <a class="btn btn-warning" href="EditarProduto.html" role="button">Editar</a>
                                    <a class="btn btn-danger" data-toggle="modal" data-target="#modalConfirm" role="button">Excluir</a>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </form>
        </div>

        <div class="row">
            <a class="btn btn-success" href="Cadastrar Produto.html" role="button">Adicionar Produto</a>
        </div>

    </div>

    <!-- Modal de confirmação de exclusão -->
    <div class="modal fade" name="modalConfirm" id="modalConfirm" tabindex="-1" role="dialog" aria-labelledby="modalRemover"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalRemover">Remover produto</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Deseja remover o produto ------- ?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-info">Sim</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Não</button>
                </div>
            </div>
        </div>
    </div>

    <!---->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>

</body>

</html>